* {
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    overflow: auto;
}

body {
    background-image: url("../images/memphis-mini-dark.png");
    /* text-decoration-color: #777777; */
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.tab {
    float: right;
    margin-top: -25px;
    margin-right: 232px;
    text-align: center;
    height: 75px;
}

.tablinks {
    padding: 5;
    border-left: none;
    border-bottom: none;
    border-top: none;
    background: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header{
    float: left;
    background-color:#ffffff;
    z-index: 2;
    height: 60px;
    width: 100%;
}

.myname {
    float: left;
    width: 180px;
    height: 60px;
    background-color: #4aaaa5;
    text-align: center;
    margin-left: 232px;
    text-decoration-color: #ffffff;
}

.title {
    border-bottom: #666666 5px;
}

.main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: #ffffff;
}

footer {
    text-align: center;    
    margin-top: 50px;
    background-color: #666666;
    border-top: #4aaaa5;
    height: 50px;
    float: inline-end;
}

h2 {
    border: #666666;
    /* text-shadow: 0 0 black; */
    /* text-shadow: 0 0 black; */
}
